name: crossonic
description: "A music player for the OpenSubsonic API with its own server for additional features."
publish_to: "none"
version: 0.2.1+9
environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  audio_player:
    path: ./plugins/audio_player/audio_player
  provider: ^6.1.2
  auto_route: ^10.2.0
  flutter_secure_storage: ^10.0.0-beta.4
  crypto: ^3.0.6
  http: ^1.3.0
  flutter_form_builder: ^10.0.1
  form_builder_validators: ^11.1.1
  json_annotation: ^4.9.0
  rxdart: ^0.28.0
  audio_session: ^0.2.0
  # 1.1.0 won't build
  smtc_windows: ^1.0.0
  audio_service: ^0.18.17
  optimize_battery:
    git: https://github.com/juho05/optimize_battery
  audio_service_mpris: ^0.2.0
  audio_video_progress_bar: ^2.0.3
  sliding_up_panel: ^2.0.0+1
  icon_decoration: ^2.1.0
  drift: ^2.25.1
  drift_flutter: ^0.2.4
  path_provider: ^2.1.5
  flutter_cache_manager: ^3.4.1
  connectivity_plus: ^7.0.0
  file: ^7.0.1
  cached_network_image: ^3.4.1
  intl: ^0.20.2
  background_downloader: ^9.1.1
  path: ^1.9.0
  image_picker: ^1.1.2
  flutter_single_instance: ^1.5.1
  window_manager: ^0.5.0
  tray_manager: ^0.5.0
  flutter_svg: ^2.0.17
  dynamic_system_colors: ^1.8.0
  url_launcher: ^6.3.1
  linkfy_text: ^1.1.6
  file_picker: ^10.3.2
  package_info_plus: ^9.0.0
  dbus: ^0.7.11
  dbus_secrets: ^0.0.2
  cryptography_plus: ^2.7.1
  xdg_directories: ^1.1.0
  collection: ^1.19.1
  logger: ^2.6.1
  share_plus: ^12.0.0
  device_info_plus: ^12.1.0
  android_package_installer: ^0.0.3
  permission_handler: ^12.0.1
  open_file: ^3.5.10
  image: ^4.5.4
  flutter_displaymode: ^0.7.0
  wakelock_plus: ^1.4.0
  super_sliver_list: ^0.4.1

dependency_overrides:
  flutter_secure_storage_darwin:
    path: ./dependency_overrides/flutter_secure_storage/flutter_secure_storage_darwin
  flutter_secure_storage_linux:
    path: ./dependency_overrides/stubs/flutter_secure_storage_linux
  path_provider_linux:
    path: ./dependency_overrides/path_provider_linux
  media_kit_libs_android_audio:
    path: ./dependency_overrides/stubs/media_kit_libs_android_audio
  audio_service_mpris:
    path: ./dependency_overrides/audio_service_mpris
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  auto_route_generator: ^10.2.5
  build_runner: ^2.9.0
  json_serializable: ^6.11.1
  drift_dev: ^2.28.0
  inno_bundle: ^0.11.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon/crossonic-tray.png
    - assets/icon/crossonic-tray.ico
    - assets/icon/crossonic-foreground-monochrome.svg
    - assets/icon/desktop/crossonic-512.png
inno_bundle:
  id: cbe0f7d0-37fc-11f0-a197-6529278abc9e
  name: Crossonic
  description: OpenSubsonic compatible music player
  publisher: juho05
  url: "https://crossonic.org/app"
  updates_url: "https://github.com/juho05/crossonic/releases/latest"
  admin: auto
  vc_redist: true
  languages:
    - english
