#loading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  width: 80px !important;
  height: 80px !important;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loading-text {
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111111;
  }
  .loading-text {
    color: white;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
